
# Contentful integration
CONTENTFUL_SPACE_ID=#####
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_HOST=cdn.contentful.com
CONTENTFUL_ACCESS_TOKEN=#####
CONTENTFUL_MANAGEMENT_TOKEN=#####

# Contentful integration
CONTENTFUL_SPACE_ID=#####
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_HOST=cdn.contentful.com
CONTENTFUL_ACCESS_TOKEN=#####
CONTENTFUL_MANAGEMENT_TOKEN=#####

# Contentful integration
CONTENTFUL_SPACE_ID=#####
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_HOST=cdn.contentful.com
CONTENTFUL_ACCESS_TOKEN=#####
CONTENTFUL_MANAGEMENT_TOKEN=#####

# Contentful integration
CONTENTFUL_SPACE_ID=#####
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_HOST=cdn.contentful.com
CONTENTFUL_ACCESS_TOKEN=#####
CONTENTFUL_MANAGEMENT_TOKEN=#####
